<div class="game-board">
    <div class="row" *ngFor="let row of board; let i = index">
      <div class="col" 
           *ngFor="let col of row; let j = index" 
           (click)="onClick(j)" 
           [ngClass]="{'rouge': board[i][j] === 'rouge', 'jaune': board[i][j] === 'jaune'}">
      </div>
    </div>
  </div>
  
  <div class="game-info">
    <div *ngIf="gameOver">
        <div *ngIf="!isBoardFull()">
          <p>Partie Terminé ! Joueur {{currentPlayer}} à gagner !</p>
        </div>
        <div *ngIf="isBoardFull()">
          <p>Partie Terminé ! Égalité !</p>
        </div>
      </div>
    <div *ngIf="!gameOver" class="player-turn">
      <p>C'est au tour du joueur {{currentPlayer}}</p>
    </div>
  </div>
  <button class="restart-btn" (click)="reloadPage()">Relancer le jeu </button>
